@charset "UTF-8";
/* Colores. Cabecera de página */
/* Colores. Cuerpo de página */
/* Colores. Pie de página */
/* Tipografías */
/* Colores */
/* Sección de Introducción a la Página de Rotación Gratuita Semanal */
section[id="introRotacion"] #titulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0px 5px 0px;
  color: black;
  background-image: url("/img/img-noise.png");
}

section[id="introRotacion"] #titulos h1 {
  font-family: "Tinos", serif;
  font-style: italic;
  font-weight: bold;
  font-size: 1000%;
  margin: -35px 0px -75px;
}

section[id="introRotacion"] #titulos h4 {
  font-family: "Public Sans", sans-serif;
  font-style: italic;
  font-weight: lighter;
  padding-top: 35px;
}

section[id="introRotacion"] #texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 55px;
}

section[id="introRotacion"] #texto p {
  font-weight: lighter;
  font-size: medium;
  width: 350px;
  text-align: center;
}

/* Contenedor con los Campeones y sus Nombres */
#main #rotacion {
  margin-top: 20px;
}

#main #rotacion h1 {
  font-family: "Public Sans", sans-serif;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

#main #rotacion h4 {
  font-family: "Public Sans", sans-serif;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color: #e3342f;
}

#main #rotacion #champs {
  padding: 40px;
  margin-top: -35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main #rotacion #champs .champion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  padding: 5px;
}

#main #noobs {
  margin-top: 20px;
}

#main #noobs h1 {
  font-family: "Public Sans", sans-serif;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

#main #noobs h4 {
  font-family: "Public Sans", sans-serif;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color: #e3342f;
}

#main #noobs #champsNoobs {
  padding: 40px;
  margin-top: -35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main #noobs #champsNoobs .champion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  padding: 5px;
}

#main img {
  width: 290px;
  -webkit-animation: iconFade 1.5s;
          animation: iconFade 1.5s;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#main img:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

#main p {
  font-weight: bold;
  font-size: 40px;
}

/* Animación para las Imágenes de los Campeones */
@-webkit-keyframes iconFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes iconFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=rotacion.css.map */
