@charset "UTF-8";
/* Colores. Cabecera de página */
/* Colores. Cuerpo de página */
/* Colores. Pie de página */
/* Tipografías */
/* Colores */
/* Sección de Introducción a la Página del Estado del Servidor */
section[id="introServidor"] #titulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0px 5px 0px;
  color: black;
  background-image: url("/img/img-noise.png");
}

section[id="introServidor"] #titulos h1 {
  font-family: "Tinos", serif;
  font-style: italic;
  font-weight: bold;
  font-size: 1000%;
  margin: -35px 0px -75px;
}

section[id="introServidor"] #titulos h4 {
  font-family: "Public Sans", sans-serif;
  font-style: italic;
  font-weight: lighter;
  padding-top: 35px;
}

section[id="introServidor"] #texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 55px;
}

section[id="introServidor"] #texto p {
  font-weight: lighter;
  font-size: medium;
  width: 350px;
  text-align: center;
}

/* Barra de Búsqueda de Estado del Servidor */
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 40px 470px 15px 470px;
  padding: 15px 35px 15px;
  border: 1px solid #785a28;
}

form div {
  margin: 15px 15px 25px 15px;
}

form div label {
  font-family: "Public Sans", sans-serif;
  font-size: small;
  font-style: normal;
}

form #botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

form #botones button {
  margin-top: 15px;
  padding: 10px 55px;
  margin: 5px 12px 0px;
  color: #fafafa;
  font-weight: bold;
  border: solid;
  background-color: #0bc4e2;
  border-color: #0bc4e2;
  border-radius: 5px;
}

form #botones button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* Contenedor con el estado del servidor seleccionado */
#info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin: 40px 500px 15px 500px;
  padding: 15px 315px 15px;
}

#info div {
  padding: 15px 15px 0px;
  text-align: center;
  border: 1px solid #ababab;
}

#info div h1 {
  font-weight: bold;
}

#info div p {
  margin-top: 15px;
}

/*# sourceMappingURL=status.css.map */
